theme-changer{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  color: black;
  z-index: 1000;

  icon-element{
    font-size: 26px;
  }
}