digital-output-element {
  width: 100%;
  aspect-ratio: 1/1;
  display: inline-block;
  border-radius: 15px;

  &.on {
    background-color: var(--color-on);
  }

  &.off {
    background-color: var(--color-off);
  }

  &.loading {
    background-color: var(--color-loading);
  }

  &.error {
    background-color: var(--color-warning);
  }
}