dashboard-struct {
  display: block;
  position: absolute;
  height: 100svh;
  width: 100svw;
  display: flex;
}

dashboard-menu {
  width: 300px;
  background-color: beige;
  display: flex;
  flex-direction: column;
}

dashboard-content {
  flex: 1;
}

dashboard-option {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 15px;
  font-weight: bold;
  font-size: 24px;
  transition: all .3s;
  cursor: pointer;
  &:hover{
    background-color: rgba(0, 0, 0, 0.166);
  }
}